.editing-content::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.editing-content::-webkit-scrollbar {
	width: 3px;
	border: none;
}

.editing-content::-webkit-scrollbar-thumb {
	background: #7a7a7a;
	width: 2px;
	border-radius: 5px;
}

.content-textfield::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.content-textfield::-webkit-scrollbar {
	width: 5px;
}

.content-textfield::-webkit-scrollbar-thumb {
	background: #e45826;
	width: 2px;
	border-radius: 5px;
}

.write-post {
	width: 100%;
	height: 100%;
	font-family: "Nunito";
	background-color: #f0f4f7;
}

.write-post .all-container {
	padding: 1em 8em 10px 8em;
}

.left-side-block {
	display: flex;
	flex-direction: column;
	flex-basis: 65%;
}

.top-navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}

.controll-block {
	display: flex;
	align-items: center;
}

.controll-block .back-to-home {
	display: flex;
	align-items: center;
}

.controll-block > .back-to-home > svg {
	width: 30px;
	height: 30px;
	color: rgb(148, 148, 148);
}

.controll-block p {
	font-size: 18px;
	font-weight: 700;
	padding-left: 1em;
}

.combo-function {
	font-size: 17px;
	font-weight: 600;
	width: 150px;
	display: flex;
	justify-content: space-around;
}

.combo-function a {
	color: #000;
	position: relative;
	padding: 0.5em;
	transition: background-color 0.3s ease;
}

.combo-function :not(.isFocused) {
	font-weight: 400;
}

.combo-function a.isFocused::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0.5em;
	width: 20px;
	height: 4px;
	background-color: #4157df;
	border-radius: 5px;
}

.combo-function a:hover {
	background-color: #dcdff0;
	border-radius: 5px;
	color: #4157df;
	font-weight: 700 !important;
}

.editing-content {
	background-color: #fff;
	border: 1px solid #d2d6db;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: calc(100vh - 1em - 115px);
	width: 100%;
}

.post-header-field {
	height: 100%;
}

.post-inner:last-child {
	padding: 1em 4rem 1em 4rem;
}

.post-inner:first-child {
	padding: 1.5rem 4rem 1em 4rem;
}

.upload-cover-image {
	display: flex;
	align-items: center;
}

.post-cover-image {
	white-space: nowrap;
	position: relative;
	padding: 0.75em 1em;
	border: 2px solid #d2d6db;
	border-radius: 5px;
	outline: 0;
	background-color: inherit;
	cursor: pointer;
	margin-right: 5px;
	transition: all 0.4s ease;
}

.post-cover-image label {
	font-weight: 700;
	font-family: "Nunito";
	font-size: 16px;
}

.error-logs {
	font-size: 14px;
	font-family: "Nunito";
	color: red;
	font-weight: 600;
}

.upload-cover-btn {
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.post-cover-image:hover {
	background-color: #f5faff;
	border: 2px solid #aaa4a4;
}

.article-form-title {
	margin: 1.5em 0 0.75em 0;
}

.article-form-title .caption-textfield {
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	box-shadow: none;
	resize: none;
	transition: none;
	width: 100%;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	overflow-wrap: break-word;
	overflow: hidden;
	column-count: initial !important;
	font-size: 50px;
	font-weight: 800;
	font-family: "Nunito";
	color: #000000;
}

.article-form-title .caption-textfield::placeholder {
	font-size: 50px;
	color: #64707d;
}

.tags-textfield {
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	box-shadow: none;
	resize: none;
	transition: none;
	width: 100%;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	overflow-wrap: break-word;
	overflow: hidden;
	column-count: initial !important;
	height: 30px;
	font-size: 18px;
	font-weight: 500;
	font-family: "Nunito";
	color: #000000;
}

.category-group {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 70px;
	font-family: "Nunito";
}

.select-area {
	flex: 1;
	position: relative;
}

.select-label {
	flex-basis: 37%;
	font-size: 17px;
	font-weight: 600;
}

.select-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-color: #fff;
	border-radius: 2px;
	width: 50%;
	cursor: pointer;
	padding: 5px 8px;
	border: 0.5px solid #d2d6db;
}

.select-button .chevrons {
	display: flex;
	flex-direction: column;
}

.options {
	position: absolute;
	top: 100%;
	width: 50%;
	margin-top: 1px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 2px 2px 5px #d2d6db;
	height: 150px;
	overflow: auto;
}

.drop {
	display: none;
}

.option {
	cursor: pointer;
	padding: 15px 8px;
	transition: 0.3s ease all;
	height: 50px;
}

.option:hover {
	background-color: rgb(223, 223, 223);
}

.icon-chevron {
	font-size: 14px;
	color: #b6c1c4;
}

.post-body-field {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.post-body-wrap-content {
	height: 100%;
}

.content-textfield {
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	box-shadow: none;
	resize: none;
	transition: none;
	width: 100%;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	overflow: hidden;
	column-count: initial !important;
	font-size: 19px;
	font-weight: 600;
	font-family: "Nunito";
	color: #000000;
}

.publish-and-save {
	display: flex;
	height: 45px;
	margin-top: 10px;
}

.publish-and-save a {
	cursor: pointer;
}

.right-side-block {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.write-post .btn-outline-custom {
	background-color: #4157df;
	color: #fff;
	width: 80px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0.7rem 0.8rem;
	border: 1px solid transparent;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.write-post .btn-outline-custom:first-child {
	margin: 0 10px 0 0;
}

.write-post .btn-outline-custom > svg {
	margin-left: 5px;
	width: 12px;
	height: 12px;
}

.write-post .btn-outline-custom.active,
.write-post .btn-outline-custom:hover,
.write-post .btn-outline-custom:active,
.write-post .show > .write-post .btn-outline-custom.dropdown-toggle {
	background-color: #3749bd;
}

.write-post .btn-outline-custom.active,
.write-post .btn-outline-custom:hover,
.write-post .btn-outline-custom:active,
.write-post .show > .write-post .btn-outline-custom.dropdown-toggle {
	color: #fff;
}
